{% extends "base_admin.html"%} {% block title %}Gestión de productos{% endblock %}
<!-- MAIN-->
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Gestión de productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Administración</a></li>
            <li class="breadcrumb-item active">Productos</li>
            <li class="breadcrumb-item"><a href="/productos_admin/alimentos">Alimentos</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/accesorios">Accesorios</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/aseo">Aseo</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/medicamentos">Medicamentos</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/juguetes">Juguetes</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/vacunas">Vacunas</a></li>

        </ol>
        <section class="py-5">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
            %} {% for
            category,message in
            messages %}
            <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %} {% endif %} {% endwith %}
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">

                    <div class="d-flex">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{producto[4]}}" alt="..." />
                        </div>

                        <form action="{{url_for('administrador.editar')}}" method="post" enctype="multipart/form-data">
                            <div class="small mb-1">ID: {{producto[0]}} / {{producto[6]}} </div>
                            <input name="productId" value="{{producto[0]}}" hidden />
                            <input name="categoria" value="{{producto[6]}}" hidden />

                            <div>

                                <h6 class=" fw-bolder">Nombre</h6>
                                <input class="form-control text-center me-3" id="nombre" name="nombre" type="text"
                                    value="{{producto[1]}}" required style="max-width: 10rem" />
                                <h6 class=" fw-bolder">Valor Unitario: $</h6>
                                <input class="form-control text-center me-3" id="precio" name="precio" type="text"
                                    value="{{producto[2]}}" required style="max-width: 10rem" />
                                <h6 class=" fw-bolder">Cantidad disponible:</h6>
                                <input class="form-control text-center me-3" id="cantidad" name="cantidad" type="text"
                                    value="{{producto[5]}}" required style="max-width: 10rem" />
                                <h6 class=" fw-bolder">Descripción</h6>
                                <textarea name="descripcion" rows=3 cols="40" required>{{producto[3]}}</textarea>

                                <hr>
                                <h6 class="fw-bolder">Escriba la URL de la imagen o seleccione una</h6>
                                <input class="form-control text-center me-3" id="imagen" name="imagen" type="text"
                                    value="{{producto[4]}}" style="max-width: 30rem" />



                            </div>
                            <input class="form-control text-center me-3" id="imagen2" name="imagen2" type="file"
                                value="{{producto[4]}}" style="max-width: 20rem" />
                            <br>
                            <button class="btn btn-outline-dark btn-success flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Editar campos
                            </button>
                        </form>

                    </div>



                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}