{% extends "base_admin.html"%} {% block title %}Administrador{% endblock %}
<!-- MAIN-->
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Usuarios Registrados</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">PetShop Ipiales</li>
        </ol>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Administrador
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for admin in administradores %}
                        <tr>
                            <td>{{admin[1]}}</td>
                            <td>{{admin[2]}}</td>
                            <td>{{admin[3]}}</td>
                            <td>{{admin[4]}}</td>
                            <td>{{admin[5]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Usuarios Registrados
            </div>
            <div class="card-body">
                <table id="datatablesSimple2">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in usuarios %}
                        <tr>
                            <td>{{user[1]}}</td>
                            <td>{{user[2]}}</td>
                            <td>{{user[3]}}</td>
                            <td>{{user[4]}}</td>
                            <td>{{user[5]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}