{% extends "base_admin.html"%} {% block title %}Administrador productos{% endblock %}
<!-- MAIN-->
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Gestión de productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Categorías</li>
            <li class="breadcrumb-item"><a href="/productos_admin/alimentos">Alimentos</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/accesorios">Accesorios</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/aseo">Aseo</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/medicamentos">Medicamentos</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/juguetes">Juguetes</a></li>
            <li class="breadcrumb-item"><a href="/productos_admin/vacunas">Vacunas</a></li>
            <li class="breadcrumb-item"></li>

        </ol>
        <a class="btn btn-primary" href="/agregar_producto">Agregar Producto</a>
        <br><br>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Productos {{categoria[0][6]}}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
            %} {% for
            category,message in
            messages %}
            <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %} {% endif %} {% endwith %}

            <div class="card-body table-responsive">
                <table id="datatablesSimple" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Imagen</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for producto in categoria %}
                        <tr>
                            <td>{{producto[1]}}</td>
                            <td>{{producto[2]}}</td>
                            <td>{{producto[5]}}</td>
                            <td>{{producto[3]}}</td>
                            <td><img src="{{producto[4]}}" alt="img" width="100"></td>
                            <td>
                                <div class="text-center" style="font-size: 60px;"><a
                                        class="btn btn-outline-dark mt-auto"
                                        href="/detalles_admin?productId={{producto[0]}}"><img
                                            src="/static/assets/edit.png" width="30"></a>
                                </div>
                            </td>
                            <td>
                                <div class="text-center" style="font-size: 60px;"><a
                                        class="btn btn-outline-dark mt-auto"
                                        onclick="return confirm('¿Seguro quiere eliminar el producto?')"
                                        href="/delete_admin?productId={{producto[0]}}"><img
                                            src="/static/assets/delete.png" width="25"></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}